{% extends "base.html" %}
{% block content %}
<div class="row">
    {% for meal in meals %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ meal.strMealThumb }}" class="card-img-top" alt="{{ meal.strMeal }}">
            <div class="card-body">
                <h5 class="card-title">{{ meal.strMeal }}</h5>
                <p class="card-text">A delicious {{ meal.strMeal }} prepared with care and authentic ingredients.</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
